body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  background-color: #000;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* color: #e5e7eb; */
  /* font-size: 18px; */
  margin: 0;
  padding: 0;
  width: 1550px;
  height: 100vh;
}

.subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.subtext-two {
  color: #1f2937
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.author {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 36px;
  text-align: right;

}

.header-one {
    color: #fff;
    background-color: #1f2937;
    /* color: #fff; */
    display:flex;
    justify-content: space-between;
    padding: 24px 186px;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.header-two {
    background-color: #1f2937;
    padding: 72px 144px;
    display: flex;
}

.header-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.header-image {
  border: 1px solid #666;
  background-color: #666;
  width: 300px;
  height: 150px;
}

.image {
    width: 100px;
    height: 100px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

/* content-one section */
.content-one {
  background-color: #fff;
  flex: 2;
}

.content-one-title {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.content-one-container {
  display: flex;
  justify-content: space-around;
  padding: 72px 186px;
}


/* content-two section */
.content-two {
  background-color: #e5e7eb;
  padding: 72px 186px;
  flex: 2;
}


/* content-three section */
.content-three {
  background-color: #fff;
  flex: 3;
}

.sign-up-box {
  background-color: #3882F6;
  border-radius: 8px;
  margin: 72px 144px;
  padding: 36px 96px;
  /* height: 72px; */
  display: flex;
  justify-content: space-between;
}

.sign-up-title {
  color: #e5e7eb;
  font-size: 24px;
  font-weight: bold;
}

.sign-up-right {
  display: flex;
  align-items: center;
}

.sign-up-button {
  background-color: #3882F6;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  padding: 4px 36px;
}

.footer {
  height: 72px;
  background-color: #1f2937;
  color: #fff;
  font-size: 18px;
  align-content: center;
  text-align: center;
}
